* {
  box-sizing: border-box;
}

.index__body {
  min-height: 100vh;
  background: #000;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

form,
.welcome-header {
  animation: fadeIn 2s;
}

form .signin {
  position: absolute;
  width: 400px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

form .signin .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

form .signin .content h2 {
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
}

form .signin .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

form .signin .content .form .inputBx {
  position: relative;
  width: 100%;
}

form .signin .content .form .inputBx input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

form .signin .content .form .inputBx i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-size: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.signin .content .form .inputBx input:focus ~ i,
.signin .content .form .inputBx input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.signin .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signin .content .form .links a {
  color: #fff;
  text-decoration: none;
}

.signin .content .form .links a:nth-child(2) {
  color: #0f0;
  font-weight: 600;
}

.signin .content .form .inputBx input[type="submit"] {
  padding: 10px;
  background: #0f0;
  color: #111;
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  color: #fff;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

.status-bar {
  color: #fff;
}

@keyframes fadeIn {
  from {
    transform: none;
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
